.promise{
    margin-top: 144px;
}

.promise__title{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 32px;
    width: 781px;
    margin: 0 auto;
    text-align: center;

    color: #212B31;

}

.promise__suptitle{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 32px;
    
    color: #212B31;
}

.promise__link{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #212B31;
    position: relative;

}

.promise__description{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 20px;
    color: #72787D;
    margin-top: 16px;
    margin-bottom: 26px;
    line-height: 32px;

}

.promise__sector{
    display: flex;
    margin-top: 168px;
}