.reliability__title{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 32px;
    text-align: center;

    color: #212B31;

}

.reliability__subtitle{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    width: 857px;

    color: #72787D;
}